body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    text-align: center;
    padding: 20px;
    font-size: 28px;
    font-weight: 600;
}

.banner {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.banner-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

nav {
    background: #5a3d99;
    padding: 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center; /* Asegura que los elementos estén centrados horizontalmente */
}

h3 img.logo-pequeno {
    margin-right: 10px;
    width: 24px;
    height: auto;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

button {
    background-color: #8e44ad;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #5a3d99;
}

img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.imagen-redonda {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.imagen-sombra {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    height: auto;
    width: 600px; /* Ajusta el tamaño según sea necesario */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

footer {
    background: #5a3d99;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* Estilos
   






